{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Custom styles for this template -->
    <link href="{% static 'video_search/album.css' %}" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title class="title">Search YouTube</title>
    <h1 class="title">Hello there</h1>
    <h3> 
        <ul>
            <li>Linking Views and Styles</li>
            <li>Configuring url paths</li>
        </ul>
        
    </h3>
    </head>

</html>